.product {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .images {
      display: flex;
      gap: 10px;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }

    .mainImg {
      img {
        width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .price {
      font-size: 26px;
      color: #2879fe;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      text-align: justify;
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
      }
    }

    .add {
      width: 100%;
      padding: 10px;
      background-color: #2879fe;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      cursor: pointer;
      border: none;
      font-weight: 500;
    }

    .links {
      display: flex;
      gap: 10px;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #2879fe;
        font-size: 14px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: gray;
      font-size: 14px;
      margin-top: 20px;

      hr {
        width: 200px;
        border: 1px solid rgb(238, 237, 237);
      }
    }

    hr {
      border: 1px solid rgb(238, 237, 237);
    }
  }

  @media (max-width: 768px) {
    .left {
      .mainImg img {
        max-height: 400px;
      }
    }

    .right {
      gap: 15px;

      .price {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }

      .quantity {
        button {
          width: 35px;
          height: 35px;
        }
      }

      .add {
        width: 100%;
        font-size: 14px;
        padding: 8px;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 10px;

    .left {
      .mainImg img {
        max-height: 300px;
      }
    }

    .right {
      .price {
        font-size: 22px;
      }

      p {
        font-size: 13px;
      }

      .quantity {
        button {
          width: 30px;
          height: 30px;
        }
      }

      .add {
        font-size: 12px;
        padding: 6px;
      }
    }
  }
}
