.navbar {
  height: 80px;
  position: relative; 

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .center {
      font-size: 30px;
      letter-spacing: 2px;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .menuIcon {
        display: none;
        cursor: pointer;
        svg {
          font-size: 30px;
        }
      }
    }
  }


  .mobileMenu {
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 10px 30px;
    background-color: #f8f8f8;
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    z-index: 10;

    .item {
      font-size: 18px;
    }

    &.active {
      display: flex;
    }
  }


  @media only screen and (max-width: 768px) {
    .wrapper {
      .left {
        display: none;
      }

      .center {
        font-size: 24px;
        letter-spacing: 1px;
      }

      .right {
        gap: 15px;

        .icons {
          display: flex; 
          gap: 15px;

          .cartIcon {
            display: block; 
          }
        }

        .menuIcon {
          display: block; /* Show hamburger icon */
        }
      }
    }

    .mobileMenu {
      display: none;
      z-index: 10; 
    }

    &.active {
      display: flex; 
    }
  }

 
  @media only screen and (max-width: 768px) {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; 
  }
}
